html, body {
  margin: 0 !important;
  padding: 0 !important;
}

html {
	font-family: sans-serif;
}

.information {
	width: 640px;
	margin: 0 auto 50px;
}

#tracker {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	background-color: white;
	font-size: 40px;
}

h1 {
	font-size: 200%;
}